<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yintu.rixing.warehouse.WareTemplateLibraryFiledMapper">
  <resultMap id="BaseResultMap" type="com.yintu.rixing.warehouse.WareTemplateLibraryField">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="data_key" jdbcType="VARCHAR" property="dataKey" />
    <result column="length" jdbcType="INTEGER" property="length" />
    <result column="required" jdbcType="SMALLINT" property="required" />
    <result column="index" jdbcType="SMALLINT" property="index" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="template_library_field_type_id" jdbcType="INTEGER" property="templateLibraryFieldTypeId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, data_key, length, required, index, order, template_library_field_type_id, 
    create_by, create_time, modified_by, modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_template_library_field
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_template_library_field
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yintu.rixing.warehouse.WareTemplateLibraryField">
    insert into ware_template_library_field (id, name, data_key, 
      length, required, index, 
      order, template_library_field_type_id, create_by, 
      create_time, modified_by, modified_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{dataKey,jdbcType=VARCHAR}, 
      #{length,jdbcType=INTEGER}, #{required,jdbcType=SMALLINT}, #{index,jdbcType=SMALLINT}, 
      #{order,jdbcType=INTEGER}, #{templateLibraryFieldTypeId,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yintu.rixing.warehouse.WareTemplateLibraryField">
    insert into ware_template_library_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dataKey != null">
        data_key,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="required != null">
        required,
      </if>
      <if test="index != null">
        index,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="templateLibraryFieldTypeId != null">
        template_library_field_type_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dataKey != null">
        #{dataKey,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        #{length,jdbcType=INTEGER},
      </if>
      <if test="required != null">
        #{required,jdbcType=SMALLINT},
      </if>
      <if test="index != null">
        #{index,jdbcType=SMALLINT},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="templateLibraryFieldTypeId != null">
        #{templateLibraryFieldTypeId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yintu.rixing.warehouse.WareTemplateLibraryField">
    update ware_template_library_field
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dataKey != null">
        data_key = #{dataKey,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=INTEGER},
      </if>
      <if test="required != null">
        required = #{required,jdbcType=SMALLINT},
      </if>
      <if test="index != null">
        index = #{index,jdbcType=SMALLINT},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="templateLibraryFieldTypeId != null">
        template_library_field_type_id = #{templateLibraryFieldTypeId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yintu.rixing.warehouse.WareTemplateLibraryField">
    update ware_template_library_field
    set name = #{name,jdbcType=VARCHAR},
      data_key = #{dataKey,jdbcType=VARCHAR},
      length = #{length,jdbcType=INTEGER},
      required = #{required,jdbcType=SMALLINT},
      index = #{index,jdbcType=SMALLINT},
      order = #{order,jdbcType=INTEGER},
      template_library_field_type_id = #{templateLibraryFieldTypeId,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>