<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yintu.rixing.system.SysPermissionMapper">
    <resultMap id="selectAllPermissionMap" type="com.yintu.rixing.pojo.SysPermissionPojo">
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <collection property="sysRoleVos" ofType="com.yintu.rixing.pojo.SysRolePojo">
            <result column="name" jdbcType="VARCHAR" property="name"/>
        </collection>
    </resultMap>
    <select id="selectAllPermission" resultMap="selectAllPermissionMap">
        SELECT sp.url,
               sp.method,
               sr.name
        FROM sys_permission AS sp
                 INNER JOIN sys_role_permission AS srp ON sp.id = srp.permission_id
                 INNER JOIN sys_role AS sr ON sr.id = srp.role_id
        WHERE sp.menu = #{menu,jdbcType=SMALLINT}
    </select>
</mapper>
