<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yintu.rixing.archives.ArchSearchArchivesQuantityStatisticsMapper">

    <select id="selectSearchArchivesQuantityStatisticsData" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT dalfs.archives_library_file_id) AS `count`
        FROM sys_archives_library AS sal
        INNER JOIN data_archives_library_file AS dalf ON sal.id = dalf.archives_library_id
        INNER JOIN ${tableName} AS t ON t.id=dalf.data_id
        INNER JOIN data_archives_library_file_search AS dalfs ON dalf.id = dalfs.archives_library_file_id
        <where>
            <if test="archivesLibraryId != null">
                AND dalf.archives_library_id=#{archivesLibraryId,jdbcType=INTEGER}
            </if>
            <if test="searchType != null">
                AND dalfs.search_type=#{searchType,jdbcType=SMALLINT}
            </if>
            <if test="departmentId != null">
                AND t.department_id=#{departmentId,jdbcType=INTEGER}
            </if>
            <if test="startDate!=null and endDate!=null">
                AND DATE(dalfs.create_time) BETWEEN #{startDate,jdbcType=TIMESTAMP} AND #{endDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

</mapper>
