<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yintu.rixing.common.CommTableFieldMapper">
    <insert id="createTable">
        CREATE TABLE `${tableName}`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id` INT(11) NOT NULL AUTO_INCREMENT COMMENT "主键id",
            <foreach collection="commTableFields" index="index" item="commTableField" separator="," close=",">
                `${commTableField.fieldName}`
                ${commTableField.dataType}
                <if test="commTableField.dataType !='date'">
                    (${commTableField.length})
                </if>
                <if test="commTableField.isNull==1">
                    NULL
                </if>
                <if test="commTableField.isNull==0">
                    NOT NULL
                </if>
                COMMENT #{commTableField.comment,jdbcType=VARCHAR}
            </foreach>
            PRIMARY KEY (`id`) USING BTREE,
            <foreach collection="commTableFields" index="index" item="commTableField" separator=",">
                <if test="commTableField.isIndex==1">
                    INDEX `${commTableField.fieldName}`(`${commTableField.fieldName}`) USING BTREE
                </if>
            </foreach>
        </trim>
        ENGINE = InnoDB
        COMMENT = #{tableComment,jdbcType=VARCHAR}
        ROW_FORMAT = DYNAMIC;
    </insert>

    <delete id="dropTableByTableName">
        DROP TABLE IF EXISTS ${tableName}
    </delete>

    <update id="alterTableNameByTableName">
        ALTER TABLE ${oldTableName} RENAME ${newTableName}
    </update>

    <update id="alterTableCommentByTableName">
        ALTER TABLE ${tableName}
            COMMENT #{tableComment,jdbcType=VARCHAR}
    </update>

    <select id="countDataByTableName" resultType="_long">
        SELECT count(*)
        FROM ${tableName}
    </select>

    <insert id="create">
        ALTER TABLE ${tableName}
        ADD COLUMN `${commTableField.fieldName}`
        ${commTableField.dataType}
        <if test="commTableField.dataType !='date'">
            (${commTableField.length})
        </if>
        <if test="commTableField.isNull==1">
            NULL
        </if>
        <if test="commTableField.isNull==0">
            NOT NULL
        </if>
        COMMENT #{commTableField.comment,jdbcType=VARCHAR};
    </insert>
    <insert id="createIndex">
        ALTER TABLE ${tableName}
            ADD INDEX `${fieldName}` (`${fieldName}`) USING BTREE
    </insert>
    <delete id="drop">
        ALTER TABLE ${tableName}
            DROP COLUMN `${fieldName}`;
    </delete>

    <delete id="dropByFields">
        <if test="fieldNames.size > 0">
            ALTER TABLE ${tableName}
            <foreach collection="fieldNames" item="fieldName" index="index" separator=",">
                DROP COLUMN `${fieldName}`
            </foreach>
        </if>
    </delete>
    <delete id="dropIndex">
        ALTER TABLE ${tableName}
            DROP INDEX `${fieldName}`;
    </delete>

    <update id="alter">
        ALTER TABLE ${tableName} CHANGE `${oldFieldName}` `${commTableField.fieldName}`
        ${commTableField.dataType}
        <if test="commTableField.dataType !='date'">
            (${commTableField.length})
        </if>
        <if test="commTableField.isNull==1">
            NULL
        </if>
        <if test="commTableField.isNull==0">
            NOT NULL
        </if>
        COMMENT #{commTableField.comment,jdbcType=VARCHAR};
    </update>

    <update id="alterOrder">
        ALTER TABLE ${tableName}
        MODIFY `${commTableField.fieldName}`
        ${commTableField.dataType}
        <if test="commTableField.dataType !='date'">
            (${commTableField.length})
        </if>
        <if test="commTableField.isNull==1">
            NULL
        </if>
        <if test="commTableField.isNull==0">
            NOT NULL
        </if>
        COMMENT #{commTableField.comment,jdbcType=VARCHAR} AFTER `${fieldName}`;
    </update>

    <select id="showByTableName">
        SHOW FULL COLUMNS FROM ${tableName};
    </select>
</mapper>
