<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yintu.rixing.common.CommMenuMapper">
    <resultMap id="BaseResultMap" type="com.yintu.rixing.vo.common.CommMenuVo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="icon_cls" jdbcType="VARCHAR" property="iconCls"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="path_name" jdbcType="VARCHAR" property="pathName"/>
    </resultMap>

    <select id="selectByExample" resultMap="BaseResultMap">
        SELECT sp.id, sp.name, sp.icon_cls, sp.path, sp.path_name
        FROM sys_permission sp
        where sp.parent_id = #{permissionId,jdbcType=INTEGER}
          and sp.menu = #{menu,jdbcType=SMALLINT}
        ORDER BY sp.priority
    </select>

    <select id="selectByExampleAndUserId" resultMap="BaseResultMap">
        SELECT sp.id, sp.name, sp.icon_cls, sp.path, sp.path_name
        FROM sys_user su
                 INNER JOIN sys_user_role sur ON su.id = sur.user_id
                 INNER JOIN sys_role sr ON sur.role_id = sr.id
                 INNER JOIN sys_role_permission srp ON sr.id = srp.role_id
                 INNER JOIN sys_permission sp ON srp.permission_id = sp.id
        where su.id = #{userId,jdbcType=INTEGER}
          and sp.parent_id = #{permissionId,jdbcType=INTEGER}
          and sp.menu = #{menu,jdbcType=SMALLINT}
        GROUP BY sp.id
        ORDER BY sp.priority
    </select>


    <resultMap id="BaseResultMap1" type="com.yintu.rixing.vo.common.CommAuthorityVo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="authorized_name" jdbcType="VARCHAR" property="authorizedName"/>
    </resultMap>

    <select id="selectAuthorityByExample" resultMap="BaseResultMap1">
        SELECT sp.id, sp.name, sp.url, sp.method, sp.authorized_name
        FROM sys_permission sp
        where sp.menu = #{menu,jdbcType=SMALLINT}
    </select>

    <select id="selectAuthorityByExampleAndUserId" resultMap="BaseResultMap1">
        SELECT sp.id, sp.name, sp.url, sp.method, sp.authorized_name
        FROM sys_user su
                 INNER JOIN sys_user_role sur ON su.id = sur.user_id
                 INNER JOIN sys_role sr ON sur.role_id = sr.id
                 INNER JOIN sys_role_permission srp ON sr.id = srp.role_id
                 INNER JOIN sys_permission sp ON srp.permission_id = sp.id
        where su.id = #{userId,jdbcType=INTEGER}
          and sp.menu = #{menu,jdbcType=SMALLINT}
        GROUP BY sp.id
    </select>
</mapper>
