<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yintu.rixing.index.InxDataStatisticsMapper">

    <select id="selectInxDataStatistics" resultType="java.lang.Long">
        <!-- 查档人数 -->
        SELECT COUNT(DISTINCT dalfs.user_id) AS `total` FROM data_archives_library_file_search AS dalfs
        <where>
            <if test="userType!=null">
                AND dalfs.user_type = #{userType,jdbcType=SMALLINT}
            </if>
        </where>
        UNION ALL
        <!-- 馆藏档案原文总页数 -->
        SELECT CONVERT(SUM(dalf.page),SIGNED) AS `total` FROM data_archives_library_file AS dalf
        <where>
            <if test="formalLibrary!=null">
                AND dalf.formal_library = #{formalLibrary,jdbcType=INTEGER}
            </if>
        </where>
        UNION ALL
        <!-- 馆藏文件目录数量 -->
        SELECT CONVERT(SUM(t.eachCount),SIGNED) AS `total` FROM (
        <if test="tableNames.size > 0">
            <foreach collection="tableNames" item="tableName" separator="UNION ALL">
                SELECT COUNT(*) AS `eachCount` FROM ${tableName} AS t
                <where>
                    <if test="status!=null">
                        AND t.status = #{status,jdbcType=SMALLINT}
                    </if>
                </where>
            </foreach>
        </if>
        <if test="tableNames.size = 0">
            SELECT 0 AS `eachCount`
        </if>
        ) as t
        UNION ALL
        <!-- 归档文件数量 -->
        SELECT COUNT(*) AS `total` FROM data_archives_library_file AS dalf
        <where>
            <if test="formalLibrary!=null">
                AND dalf.formal_library = #{formalLibrary,jdbcType=INTEGER}
            </if>
        </where>
        UNION ALL
        <!-- 馆藏案卷数量 -->
        SELECT COUNT(*) AS `total` FROM data_archives_library_file AS dalf
        <where>
            <if test="formalLibrary!=null">
                AND dalf.formal_library = #{formalLibrary,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>
